In [4]:
#ordered, sequence data
my_list = [1,2,3,'Parisa', 2.09]
print(len(my_list))

5

In [2]:
my_list2 = [4,5,6,'Payman', 3.09]
#Concantenation same as string
my_list + my_list2

[1, 2, 3, 'Parisa', 2.09, 4, 5, 6, 'Payman', 3.09]

In [3]:
my_list2 + my_list

[4, 5, 6, 'Payman', 3.09, 1, 2, 3, 'Parisa', 2.09]

In [5]:
my_list[3]

'Parisa'

In [1]:
my_list[2:]

NameError: name 'my_list' is not defined

In [7]:
#you can change an elemnt in the list on the contrary with string
my_list

[1, 2, 3, 'Parisa', 2.09]

In [8]:
my_list[0]='I changed the first element'
my_list

['I changed the first element', 2, 3, 'Parisa', 2.09]

In [3]:
# elements can be added to the end of list
my_newlist = ['Par','Pay', 100,20.87 ,12 ,34 ]
my_newlist.append('sep')
my_newlist.append('Jigar')
my_newlist

['Par', 'Pay', 100, 20.87, 12, 34, 'sep', 'Jigar']

In [11]:
#if you want to add in a specific position use .insert(index,value)
mylist4 = [1,2,3,4,5,6]
mylist4.insert(3,200)
mylist4

[1, 2, 3, 200, 4, 5, 6]

In [13]:
#to remove an element using .pop(index) if do not specified index by default it will remove the last element
mylist4.pop()

6

In [14]:
mylist4.pop(3)

200

In [15]:
mylist4

[1, 2, 3, 4, 5]

In [32]:
#A list can be reversed or sorted using reverse() and sort(), correspondingly."
mylist5 = [3,2,67,12,87,3,4]
x = mylist5.reverse() #it does return nothing, to see what it return you should assign a variable
#mylist5.sort()  it does return nothing, to see what it return you should assign a variable

In [36]:
type(x)   # type() use to identify the type (int, float,none,..) of data inside of a variable, 
#this prove mylist.reverse() does not return anything

NoneType

In [37]:
#to fix you should assign a variable
x = mylist5
x

[4, 3, 87, 12, 67, 2, 3]

In [41]:
mylis1=[1,2,3,4] #nested list
mylis2=[5,6,7,8]
mynested = [mylis1,mylis2]

In [42]:
print(mynested)

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [46]:
mynested[0][1]#0 means first list and 1 means second element

2

In [47]:
mynested[1][2]

7