In [1]:
mystring = 'Parisa' #this is the old way of creating a list using append() function
mylist = []
for letter in mystring:
    mylist.append(letter)

In [2]:
mylist

['P', 'a', 'r', 'i', 's', 'a']

In [4]:
mystring = 'Love'
mylist = [letter for letter in mystring] #flatered for loop
mylist

['L', 'o', 'v', 'e']

In [7]:
mynumber = (1,2,3,4,5,6,7)
mylist = [num**2 for num in mynumber]# new list is all the tuple member in power 2
mylist

[1, 4, 9, 16, 25, 36, 49]

In [8]:
mystring = 'Khoda'
mylist = [x for x in mystring]
mylist

['K', 'h', 'o', 'd', 'a']

In [9]:
mylist = [x for x in range(0,15,2)]#range(start,stop,step)
mylist

[0, 2, 4, 6, 8, 10, 12, 14]

In [15]:
mylist = [x for x in range(0,11) if x % 2 ==0]
mylist

[0, 2, 4, 6, 8, 10]

In [16]:
celcius = [10,20,30,40,50]
Fahrenheit = [((9/5)+temp+32) for temp in celcius] # consider (9/5)+temp+32) as xin x for x in...

In [18]:
Fahrenheit

[43.8, 53.8, 63.8, 73.8, 83.8]

In [2]:
Fahrenheit=[]# this is exactly same as above codes
celcius = [10,20,30,40,50]
for temp in celcius:
    Fahrenheit.append((9/5)+temp+32)

In [3]:
Fahrenheit

[43.8, 53.8, 63.8, 73.8, 83.8]

In [3]:
#you can write if and else in one line in list comprehension but readability is really important
#especially when come back later
result = [ x if x%2==0 else 'ODD' for x in range(1,20)]
result

['ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [6]:
mylist = []#NESTED LOOP
for x in [1,2,3,4,5]:
    for y in [2,4,6]:
        mylist.append(x*y)

In [7]:
mylist

[2, 4, 6, 4, 8, 12, 6, 12, 18, 8, 16, 24, 10, 20, 30]

In [8]:
#List comprehension versio
mylist = [x*y for x in [1,2,3,4,5] for y in [2,4,6]]
mylist

[2, 4, 6, 4, 8, 12, 6, 12, 18, 8, 16, 24, 10, 20, 30]

In [10]:
ylist = [((x+y)-z) for x in [1,2] for y in[5,6] for z in [1,2] if x+y <= 7] #NOTE you cannot use else after if in list comprehension
ylist

[5, 4, 6, 5, 6, 5]