In [ ]:
#nake Casing Convention:By convention, Python uses snake casing for function names. 
#Snake casing means using all lowercase letters with underscores between words.

# Assistant
I'd be happy to explain the syntax of a Python function.

A Python function is defined using the following syntax:

In [4]:
def function_name(parameter1, parameter2):
    """
    Docstring (optional but recommended): describes what the function does
    """
    # Function body - code that executes when the function is called
    # ...
    return value  # Optional return statement


Key components:
1. `def` keyword: Indicates the start of a function definition
2. `function_name`: The name you give to your function (should follow Python naming conventions)
3. Parameters: Input values the function accepts (optional)
4. Colon `:`: Marks the end of the function header
5. Function body: Indented code block that executes when the function is called
6. `return` statement: Optional, specifies the value to be returned when the function completes

Examples:

In [5]:
# Simple function with no parameters
def say_hello():
    print("Hello!")

# Function with parameters

def greet(name):#this name can be anything but make it more recognizable to you
    print(f"Hello, {name}!")
    
#youcan provide a difult argument for function in case ser does not provide an argument as follows:
#def greet(name = 'Zivar') if user provide an argument the function use that otherwise it return Zivar
#def my_hello_function(name ='Zivar'):
    #print(f'hello {name}')


# Function with parameters and return value
def add(a, b):
    return a + b #using return let you to save the result in a variablein contrary with jus using print()

# Function with default parameter values
def power(base, exponent=2):
    return base ** exponent


Functions are called by using their name followed by parentheses, with any required arguments inside:

In [3]:
say_hello()  # Prints: Hello!
greet("Alice")  # Prints: Hello, Alice!
result = add(5, 3)  # result = 8
square = power(4)  # square = 16 (uses default exponent=2)
cube = power(2, 3)  # cube = 8

Hello!
Hello, Alice!


Would you like me to explain any specific aspect of function syntax in more detail?

In [6]:
def my_hello_function(name = 'Zivar'):
    print(f'Hello dear {name}')

In [7]:
my_hello_function()

Hello dear Zivar

In [8]:
my_hello_function('Parisa')

Hello dear Parisa

In [10]:
def my_func(a,b):
    print(a+b)

In [11]:
my_func(2,6)

8

In [12]:
x =my_func(5,4)#using print()that does not let you to save the result in a variable

9

In [13]:
type(x)

NoneType

In [14]:
def my_func(a,b,c):
    return a*b+c #using return let you to save the result in a variablein but

In [17]:
x = my_func(1,2,3)
print(x)

5

In [16]:
type(x)

int

In [20]:
def check_even_number(num):
    #x = num%2 ==0
   # return x
    return num %2 ==0 # one line instead of the lines above

In [21]:
check_even_number(40)

True

In [21]:
#Return True if any number is even inside of a list

def check_even_inlist(mylist):
    for x in mylist:
        if x %2 == 0:
            return True
        else:
            pass
#return False #indentation is really important, this get error, you should use the below
    return False

In [24]:

check_even_inlist([1,3,5,7])

False

In [26]:
mylist2 = [0,1,2,3,4,5,6,7,8,9]
check_even_inlist(mylist2)

True

In [32]:
#now return all even number in a list
def return_even_num(mylist):
    for x in mylist:
        if x %2 == 0:
            print(x)
        else:
            pass
    return

In [33]:
return_even_num([1,2,3,4,5,6,7,8])

2
4
6
8

In [6]:
#return all even number in A LIST
def return_even_inlist(mylist):
    #create a empty list holder
    result_list = []
    for x in mylist:
        if x %2 == 0:
            result_list.append(x)
        else:
            pass
    return result_list

In [7]:
y = [1,2,3,4,5,6,7,8,9,0]
return_even_inlist(y)

[2, 4, 6, 8, 0]