In [6]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd
#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5
def compare_func(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    
    if a%2!=0 or b%2!=0:
        return max(a,b)

In [11]:
compare_func(20,5)

20

In [12]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter?
#animal_crackers('Levelheaded Llama') --> True
#animal_crackers('Crazy Kangaroo') --> False

def comp_word(a,b):
    if a[0] == b[0]:
        return True
    else:
        return False

In [15]:
comp_word('Parisa','Payman')

True

In [3]:
#MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
#makes_twenty(20,10) --> True
#makes_twenty(12,8) --> True
#makes_twenty(2,3) --> False
def comp_twenty(a,b):
    c=a+b
    if a==20 or b==20 or c==20:
        return True
    else:
        return False

In [6]:
comp_twenty(0,10)

False

In [9]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
 
#old_macdonald('macdonald') --> MacDonald
#Note: 'macdonald'.capitalize() returns 'Macdonald'

def name_change(a):
    a=a.capitalize()
    char_list = list(a)
    char_list[3] = char_list[3].upper()
    return ''.join(char_list)
  
    #return result

In [10]:
name_change('bethany')

['B', 'e', 't', 'h', 'a', 'n', 'y']

'BetHany'

In [19]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed
#master_yoda('I am home') --> 'home am I'
#master_yoda('We are ready') --> 'ready are We'
#Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list 
#with some connector string. For example, some uses of the .join() method:

#>>> "--".join(['a','b','c'])
#>>> 'a--b--c'
#This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

#>>> " ".join(['Hello','world'])
#>>> "Hello world"

#This is the first method using list slicing
def reversed_sentense(sentence):
    words = sentence.split()
    words = words[::-1]
    result = ' '.join(words)
    return result
#===================================
   
  #second method useing reversed() function 
def reversed_sentence(sentence):
    words = sentence.split()
    words = words.reversed()
    result = ' '.join(words)
    return result

In [20]:
reversed_sentense("I will be a highly intelligent IT pro")

'pro IT intelligent highly a be will I'

In [25]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
#almost_there(90) --> True
#almost_there(104) --> True
#almost_there(150) --> False
#almost_there(209) --> True
#NOTE: abs(num) returns the absolute value of a number
#First method++++++++++++++++++

def almost_there(x):
    if x>=90 and x<=110 or x>=190 and x<=210:
        return True
    else:
        return False
#===========================================second method using abs(num)
  # Check if the absolute difference between n and 100 is less than or equal to 10
    # OR if the absolute difference between n and 200 is less than or equal to 10

def abs_ten(n):
   return abs(100-n) <=10 or abs(200-n)<=10

In [29]:
almost_there(211)

False

In [13]:
#FIND 33:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

#has_33([1, 3, 3]) → True
#has_33([1, 3, 1, 3]) → False
#has_33([3, 1, 3]) → False

def has_33(num):
    for i in range(len(num)-1):
        if num[i]==3 and num[i+1]==3:
            
            return True
            
    return False

In [14]:
has_33([1,2,3,3,4,5])

True

In [41]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
#paper_doll('Hello') --> 'HHHeeellllllooo'
#paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'
def paper_doll(aword):
    result=[]
    for x in list(aword):
       result.append(x*2+x)
    return ''.join(result)

In [43]:
paper_doll('Hello')

'HHHeeellllllooo'

In [4]:
#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their 
#sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21,
# return 'BUST'
#blackjack(5,6,7) --> 18
#blackjack(9,9,9) --> 'BUST'
#blackjack(9,9,11) --> 19
def black_jack(a,b,c):
    total=a+b+c
    if total<=21:
        return total
    elif 11 in (a,b,c) and total>21: 
        total -=10
    if total>21:
        return 'Bust'
    else:
        return total

In [7]:
black_jack(12,9,11)

'Bust'